.mobile-menu {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);

  min-width: 337px;
  height: 100%;
  padding-top: 118px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;

  overflow-y: auto;

  font-family: 'Open Sans', serif;

  background-color: #fff;

  @media screen and (min-width: 480px) {
  }
}

.mobile-menu__btn-close-menu {
  position: absolute;
  top: 48px;
  right: 31px;
}

// Menu
.mobile-menu__menu {
  margin-bottom: 60px;
}

.mobile-menu__menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;

  color: #303030;

  &:hover,
  &:focus {
    color: #ff6c00;
  }
}

// Contacts
.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu__contacts-phone {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;

  color: #303030;

  &:hover,
  &:focus {
    color: #ff6c00;
  }
}
.mobile-menu__contacts-btn {
  display: inline-block;
  padding: 12px 37px;

  border: 1px solid #ff6c00;
  border-radius: 25px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #303030;
  background-color: transparent;
}

// Social

.mobile-menu__social-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__social-item {
  display: flex;
  align-items: center;
  &::before {
    content: '';

    display: block;
    width: 60px;
    height: 1px;
    background-color: #303030;

    margin-right: 40px;
    opacity: 0;
  }
}

.mobile-menu__social-item:first-child {
  &::before {
    opacity: 1;
  }
}

.mobile-menu__social-link {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;

  &:hover,
  &:focus {
    color: #ff6c00;
  }
}
