.section {
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 786px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.section__pre-title {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &--dark {
    color: #303030;
  }

  &--light {
    color: rgba(157, 164, 189, 0.6);
  }
}

.section__pre-title::before {
  content: '';

  display: block;
  width: 60px;
  height: 1px;
  margin-right: 20px;

  background-color: currentColor;
}

.section__title {
  margin-bottom: 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  &--dark {
    color: #303030;
  }

  &--light {
    color: #fff;
  }
}
.section__after-title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #555555;
}
